.mode {
    &__button {
        max-width: 48px;
        padding: 10px;
        cursor: pointer;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--bg);
        position: fixed;
        bottom: 24px;
        right: 24px;
        transition: transform .2s ease;
        cursor: pointer;
        z-index: 10;
        
        @media (hover:hover){
            
            
            &:hover {
                transform: translateY(-3px);
            }
        }
    }
}